@import "tailwindcss";

@theme {
  --color-border: hsl(var(--border));

  --color-background-dark: hsl(var(--background-dark));
  --color-background: hsl(var(--background));
  --color-background-light: hsl(var(--background-light));
  --color-container-bg: hsl(var(--container-bg));

  --color-foreground: hsl(var(--foreground));
  --color-foreground-secondary: hsl(var(--foreground-secondary));
  
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-card: hsl(var(--card));
}

@layer base {
  :root {
    --background-dark: 0 0% 90%;
    --background: 0 0% 95%;
    --background-light: 0 0% 100%;

    --container-bg: 230 50% 85%;

    --foreground: 0 0% 5%;
    --foreground-secondary: 0 0% 30%;

    --card: 170 40% 85%;

    --primary: 250 47% 60%;
    --primary-foreground: 210 40% 98%;
    --border: 217 33% 80%;
  }

  .dark {
    --background-dark: 0 0% 0%;
    --background: 0 0% 5%;
    --background-light: 0 0% 10%;

    --container-bg: 230 100% 5%;

    --foreground: 0 0% 95%;
    --foreground-secondary: 0 0% 70%;

    --card: 200 50% 50%;

    --primary: 250 65% 65%;
    --primary-foreground: 213 31% 91%;
    --border: 217 33% 20%;
  }

  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground transition-colors duration-300;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@utility text-border {
  text-shadow: 1px 1px 0 #000,
  -1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000,
  0px 1px 0 #000,
  0px -1px 0 #000,
  -1px 0px 0 #000,
  1px 0px 0 #000,
  2px 2px 0 #000,
  -2px 2px 0 #000,
  2px -2px 0 #000,
  -2px -2px 0 #000,
  0px 2px 0 #000,
  0px -2px 0 #000,
  -2px 0px 0 #000,
  2px 0px 0 #000,
  1px 2px 0 #000,
  -1px 2px 0 #000,
  1px -2px 0 #000,
  -1px -2px 0 #000,
  2px 1px 0 #000,
  -2px 1px 0 #000,
  2px -1px 0 #000,
  -2px -1px 0 #000;
}

#root {
  font-family: "Mulish", sans-serif;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  70% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-5%);
    opacity: 0;
  }
}

.fadeInUp {
  animation: 0.5s fadeInUp;
  animation-timeline: view();
  animation-range: cover;
}

nav a::after{
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #eee;
  transform: scaleX(0);
  transform-origin: center;
  opacity: 0.2;
  transition: opacity 300ms ease, transform 300ms ease;
} 

nav a:hover::after {
  transform: scaleX(1);
  opacity: 1;
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 50;
}